/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

/* Container principal */
.root {
  height: 100vh;
  width: 100vw;
  background-color: #dd044e;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  color: #cad003;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Cabeçalho fixo no topo */
.header {
  width: 100%;
  height: 26vh;
  display: flex;
  overflow: hidden;
}
.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  display: block;
}

/* Painel principal com grid 10x10 */
.dashboard {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

/* Zera margens e paddings dos blocos internos */
.dashboard > div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Valor diário */
.valor {
  grid-area: 1 / 1 / 7 / 11;
  flex-direction: row;
}

/* Ícone de seta */
.seta {
  font-size: clamp(5rem, 10vw, 10rem);
  font-weight: 800;
  color: #fff;
}

/* Valor diário em destaque */
.valorfaltadiario {
  font-size: 250px;
  font-weight: 800;
  color: #fff;
  line-height: 1;
}

/* Valor mensal */
.valorfaltamensal {
  grid-area: 7 / 1 / 8 / 11;
  font-size: 3rem;
  font-weight: 600;
  gap: 16px;
}
.valorfaltamensal p:first-child {
  color: white;
}
.valorfaltamensal p:last-child {
  color: #cad003;
}

/* Tabela de Won */
.tabelawon {
  grid-area: 8 / 1 / 11 / 6;
}

/* Meta */
.meta {
  grid-area: 8 / 6 / 11 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.metaTitulo {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.metaValor {
  font-size: 100px;
  font-weight: 600;
  color: #cad003;
  margin: 0;
}


/* Input de meta */

/* Tabela */
.tabela {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;
  color: #fff;
}
.tabela th,
.tabela td {
  padding: 8px;
  text-align: center;
}
.tabela th {
  font-weight: bold;
}
.tabela tr:nth-child(odd) {
  background-color: #dd044e;
}
.videoLoop {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
