@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'NeonLight Regular';
  src: url('/src/assets/fonts/NeonLight-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  @apply h-full w-full;
  margin: 0;
}
.scroll-area {
  display: flex;
  flex-direction: column;
  animation: scroll-loop 60s linear infinite;
}

@keyframes scroll-loop {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}
